<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">   
     <% newListItems.forEach((ele) => { %>

    <div class="item">
      <form class="cb" action="/delete" method="post">
      <input type="checkbox" value="<%= ele._id %>" name="checked" onchange="this.form.submit()">
      <p><%= ele.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">   
  </form>

    <% }) %>
    

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
